/* classi per tabella (uguale per tutte le tabelle del sito)*/
#tableA, #tableB, #tableC, #tableD {
    font-family: arial, sans-serif;
    width: 100%;
}

td, th, tr {
    text-align: left;
    padding: 3px;
}

#tableA tr:nth-child(even), #tableB tr:nth-child(even) {
    background-color: var(--color-row-topOne);
}

#tableC tr:nth-child(even), #tableD tr:nth-child(even) {
    background-color: var(--color-row-topTwo);
}

.topOne {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 2rem;
}

.topTwo {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 2rem;
}