.listarisultati-corpo {
    background-color: var(--colour-white);
}

.card-risultato {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-risultato:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.dettagli-lista-risultati{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.5rem;
}

.dettagli-lista-risultati > div {
    flex-direction: column;
}

.note{
    text-align: left;
    margin-left: 2.5rem;
}

.indirizzo{
    margin-right: 1.5rem;
}

.map{
    width: 100%;
    height: 180px;
}