/* Biblioteca */

.listarisultati-corpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--colour-white);
}

.card-risultato {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-risultato:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dettagli-lista-biblioteche{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.5rem;
}

.dettagli-lista-biblioteche > div {
    flex-direction: column;
}

.note{
    text-align: left;
    margin-left: 2.5rem;
}

.indirizzo{
    margin-right: 1.5rem;
}

.map{
    width: 100%;
    height: 180px;
}

/* Posto Lettura */

.dettagli-lista-posti {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}
.registrazione-form {
    justify-content: space-between;
}

.registrazione-form > input, button {
    margin-top: 0.5rem;
    padding: 0.2rem;
}

.registrazione-form > input {
    width: 25%;
}

.registrazione-form > button {
    width: 40%;
}

.post-search-btn {
    background-color: #5281B3;
    border-radius: 2px;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.1em;
    transition: 0.2s;
}

.has-hover:hover {
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    color: #000000;
}

.post-search-btn:disabled {
    opacity: 0.6;
}

.registrazione-btn:hover {opacity: 1}

.card-risultato > h3 > a {
    text-decoration: none;
}

.card-posto {
    box-sizing: border-box;
    width: 22%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 0.5rem;
    cursor: pointer;
}

.card-posto:hover {
    transform:scale(1.05);
}

.card-posto.selected {
    background-color: #dddddd;
}

.card-posto > p {
    text-align: left;
}

.non-disponibile {
    display: inline-block;
    position: relative;
}

.non-disponibile:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    transform: translateX(-50%) rotate(45deg);
    background-color: #e84545;
    z-index: 1;
}
.non-disponibile::after {
    transform: translateX(-50%) rotate(-45deg);
}

/* Libro */

.contenuto-card-risultato {
    display: flex;
    flex-direction: row;
    justify-items: inherit;
}

#immagine-libro{
    display: flex;
    justify-content: space-between;
    line-height: normal;
    width: 14rem;
}

#immagine-libro img {
    margin-left: 3.6rem;
}

.vl {
    border-left: 4px solid grey;
    height: 90%;
    width: 5%;
    margin-right: 1rem;
}

#informazioni-libro, #stato-libro {
    text-align: left;
    line-height: 1.1em;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #62bd19;
    border-radius: 50%;
    display: inline-block;
}

.red {
    background-color: orangered;
}

#prenota-btn, #visualizza-btn{
    width: 7rem;
    padding: 0.4rem;
    margin-bottom: 0.5rem;
}

#visualizza-btn {
    text-decoration: none;
}

.decorator-riga {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: inherit;
}

#card-ebook > div > div:nth-child(3), #prenota-libro {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 0.5rem;
}

#nessun-risultato {
    line-height: 0.5;
}

#nessun-risultato h3 {
    padding-top: 0.5rem;
    margin-bottom: 1rem;
}

#nessun-risultato div {
    padding-bottom: 1rem;
}