* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-white: #f6f5f5;
    --color-gray: #d3e0ea;
    --color-blue: #1687a7;
    --color-dark-blue: #276678;
}

html {
    font-size: 125%;
    scroll-behavior: smooth;
    margin: 0 5rem;
}

a {
    text-decoration: none !important;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-none {
    display: none;
}

p {
    margin: 0 !important;
}

.headbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem .5rem;
    background-color: var(--color-blue);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.headbar i {
    color: var(--color-white);
    font-size: 2rem;
    margin: 0 1rem;
}
.headbar p {
    text-transform: uppercase;
    color: var(--color-white);
    font-size: 1.4rem;
}
.headbar__icons {
    display: flex;
    padding: 0 1rem;
}
.headbar__user,
.headbar__role {
    transition: .5s;
    position: relative;
}
.headbar__user p,
.headbar__role p {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    white-space: nowrap;
    transition: .4s;
}
.headbar__user:hover,
.headbar__role:hover {
    cursor: pointer;
}
.headbar__user:hover p,
.headbar__role:hover p {
    left: 100%;
    opacity: 1;
}
.headbar__logout,
.headbar__login {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #ce1212;
    border-radius: 25px;
    border: solid 2px #ce1212;
    background-color: var(--color-white);
    padding: .3rem .4rem;
    padding-left: .8rem;
    margin-right: 1rem;
    transition: .3s;
    position: relative;
    overflow: hidden;
}
.headbar__logout i,
.headbar__login i {
    color: #ce1212;
    font-size: 1.5rem;
    margin: 0 .5rem;
    transition: .3s;
}
.headbar__logout::before,
.headbar__login::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -120%;
    height: 120%;
    width: 120%;
    border-radius: 25px;
    background-color: #ce1212;
    transition: .4s;
    z-index: -1;
}
.headbar__logout:hover::before,
.headbar__login:hover::before {
    left: -10%;
}
.headbar__logout:hover,
.headbar__login:hover  {
    color: var(--color-white);
    border-color: transparent;
    cursor: pointer;
    background-color: transparent;
}
.headbar__logout:hover i,
.headbar__login:hover i {
    color: var(--color-white);
}


.user-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: .8rem;
    justify-content: center;
    background-color: var(--color-gray);
    padding: 1rem 3rem;
}
.user-menu__item,
.main-box__form button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    text-transform: uppercase;
    padding: .2rem 1rem;
    margin: .3rem 2rem;
    position: relative;
}
.main-box__form button::before,
.main-box__form button::after,
.user-menu__item::before,
.user-menu__item::after {
    content: '';
    position: absolute;
    background-color: transparent;
    height: 1rem;
    width: 1rem;
    transition: .4s;
}
.main-box__form button::before,
.user-menu__item::before {
    top: -7px;
    left: -7px;
    border-top: solid 4px var(--color-blue);
    border-left: solid 4px var(--color-blue);
}
.main-box__form button:after,
.user-menu__item::after {
    bottom: -7px;
    right: -7px;
    border-bottom: solid 4px var(--color-blue);
    border-right: solid 4px var(--color-blue);
}
.main-box__form button:hover,
.user-menu__item:hover {
    cursor: pointer;
    color: var(--color-white);
}
.main-box__form button:hover::after,
.main-box__form button:hover::before,
.user-menu__item:hover::after,
.user-menu__item:hover:before {
    height: 100%;
    width: 100%;
}


.main-container {
    padding: 1rem 2rem;
    background-color: #fff;
    margin-bottom: 5rem;
    min-height: 12rem;
}


.main-box {
    flex: 1;
}
.main-box td {
    padding: .2rem .5rem;
}
.main-box > * {
    min-width: 90%;
}
.main-box > * h1 {
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    width: fit-content;
    margin: 0 auto;
    margin-top: 1rem;
    padding: .2rem 3rem;
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
    font-size: 2rem;
}
.main-box table {
    margin-left: 0 !important;
}
.main-box th {
    font-size: 1.4rem;
    padding: .5rem;
}
.main-box tr {
    padding: 1.5rem;
}
.main-box table {
    margin-left: 1rem;
    width: 100%;
}
.main-box__form > * {
    margin: 2.3rem 1rem;
}
.main-box__form button {
    display: block;
    margin: 0 auto;
}


.main-box__form {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1rem;
    justify-content: center;
}
.main-box__form input,
.main-box__form select {
    max-height: 2rem;
    max-width: 20rem;
    min-width: 15rem;
    padding: 2px;
    position: relative;
    transition: .2s;
    margin-left: auto;
    margin-right: auto;
}
.main-box__form input:hover,
.main-box__form input:focus {
    outline: none;
    border-bottom: solid 4px var(--color-dark-blue);
}
.main-box__form button {
    grid-column-start: 1;
    grid-column-end: 4;
}
.main-box__form #box-autori,
.main-box__form #box-autori-ebook {
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: auto auto auto;
}
.main-box__form #box-autori-ebook {
    grid-column-start: 1;
}
.main-box__form #box-autori input,
.main-box__form #box-autori-ebook input {
    min-width: 10rem;
}



/* .noUnderline {
    text-decoration: none;
}

.boxMenu {
    height: auto;
    width: auto;

    background-color: var(--color-menu-user);

    font-size: 20px;
    color: var(--color-grey);
    font-weight: bold;
    font-family: 'Arial';
}

.boxMenu:hover {
    height: auto;
    width: auto;

    background-color: var(--color-menu-user);

    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: 'Arial';
} */

/* Settaggio tabelle */
#tableAll {
    font-family: arial, sans-serif;
    width: 100%;
}

#tableAll tr:nth-child(even) {
    background-color: var(--color-row-tableUser);
}

/* Settaggio card di visualizzazione (Title - Menu - Table) */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.4s;
    /* width: 100%; */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.set-card {
    border-radius: 0.5rem;
}

.card-user {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.4s;
}

.card-user:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.set-card-user {
    border-radius: 0.5rem;
}

.set-card {
    border-radius: 0.5rem;
}

.color-user {
    background-color: var(--color-user);
}

.color-menu {
    background-color: var(--color-menu-user);
}

.color-table-menu {
    background-color: var(--color-table-user);
}

/* SETTAGGIO USER PAGE */

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-head {
    border-top: 2px solid var(--color-grey);
}


/* SETTAGGIO OPZIONI */
.dropbtn {
    height: 2rem;
    width: 7rem;
    background-color: #3498DB;
    color: white;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}