html {
    margin: 0.5rem;
    scroll-behavior: smooth;
}
  
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-none {
    display: none;
}
  
.main-container {
    /* margin-bottom: 4rem; */
}
  
.user-menu {
    flex-basis: 25%;
}
  
.user-menu > * {
    display: flex;
    align-items: center;
    justify-content: baseline;
}
  
.user-menu__item {
    padding: 5% 10%;
    text-transform: uppercase;
}

.marginTop01 {
    margin-top: 1%;
}

.marginTop05 {
    margin-top: 5%;
}
  
.user-menu__item:hover {
    cursor: pointer;
}
  
.user-menu__item p {
    margin: 0;
}
  
.main-box {
    flex: 1;
    padding: 3rem 1rem;
    border-left: 2px solid var(--color-grey);
    margin-left: 1%;
}
  
.main-box > * {
    width: 75%;
}
  
.main-box th {
    /* text-transform: uppercase; */
    font-size: 1.4rem;
    padding: .5rem;
}
  
.main-box tr {
    padding: 1.5rem;
}
  
.main-box table {
    margin-left: 1rem;
    width: 100%;
}
  
.main-box__form > * {
    margin: 2.3rem 1rem;
}

.main-box__form button {
    display: block;
    margin: 0 auto;
}

.viewUser {
    text-align: right;
    border-bottom: 2px solid var(--color-grey);
}

.noUnderline {
    text-decoration: none;
}

.boxMenu {
    height: auto;
    width: auto;

    border-bottom: 1px solid var(--color-grey);;
    background-color: var(--colour-white);
    
    font-size: 20px;
    color: var(--color-grey);
    font-weight: bold;
    font-family: 'Arial';
}

.boxMenu:hover {
    height: auto;
    width: auto;
    
    border-bottom: 1px solid var(--color-grey);;
    background-color: var(--color-grey);
    border-color: var(--color-grey);
    
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: 'Arial';
}

/* Settaggio tabelle */
#tableAll {
    font-family: arial, sans-serif;
    width: 100%;
}

#tableAll tr:nth-child(even) {
    background-color: var(--color-row-tableUser);
}