*,

*::after,

*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
    --colour-blue: #16697a;
}

 html {
    /* font-size: 62.5%; */
     font-size: 125%;
 }

body {
    box-sizing: border-box;
	text-align: center;
	padding: 0;
	margin: 0;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }


/* #telaio {
    display: flex;
    flex-flow: column;
	width:100%;
	margin: 0px;
	border:1px solid black;
	line-height:150%;
	color: black;
	background-color: #ffffcc;
	text-align: left;
} */


#fondo {
	font-size: 85%;
	text-align: center;
}

#testata, #fondo {
	padding:0.5em;
	color:white;
	background-color:white;
	clear:left;
}

#logo {
    color: black;
    text-align: left;
    padding:1rem;
}

#titolo {
    font-family: 'Indie Flower', cursive;
    text-align: left;
}

#menu {
    text-align: right;
    padding:1rem;
}

#ricerca {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colour-blue);
	text-align: center;
    padding:6rem;
}

#fname {
    margin-right:1px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input {
    overflow: visible;
}

.btn-Biblioteca {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}

.btn-Cartaceo {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}

.btn-Ebook {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}

.btn-Search {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-Menu {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}