:root{
    --colour-blue: #21a7c2;
    --color-orange: #db6400;
    --colour-white: #f4f9f9;
    
    --color-grey: #6c757d;

    --color-row-topOne: #74c3d3;
    --color-row-topTwo: #dfa473;
}

.leftFlex {
    justify-content: flex-start;
}

.padding05 {
    padding: 0.5rem;
}

/* classi per bottoni */

.noBlueLine {
    outline: none;
}

.btnGenerico {
    height: 50px;

    border-radius: 7px;
    border-color: var(--color-grey);
    border: 2px solid;
    background-color: white;
    
    font-size: 20px;
    color: var(--color-grey);
    font-weight: bold;
    font-family: 'Arial';
}

.btnGenerico:hover, .btnGenerico.selected {
    height: 50px;

    border-radius: 7px;
    background-color: var(--color-grey);
    border-color: var(--color-grey);
    
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: 'Arial';
}

.width150, .width150:hover {
    width: 150px;
}

.width200, .width200:hover {
    width: 200px;
}

/* classi per tabella (uguale per tutte le tabelle del sito)*/
#tableA, #tableB {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tableC, #tableD {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
 
td, th, tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
}

#tableA tr:nth-child(even), #tableB tr:nth-child(even){
    background-color: var(--color-row-topOne);
}

#tableC tr:nth-child(even), #tableD tr:nth-child(even){
    background-color: var(--color-row-topTwo);
}