html {
    margin: 0.5rem;
}
  
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-none {
    display: none;
}
  
.main-container {
    /* margin-bottom: 4rem; */
}
  
.user-menu {
    /* flex-basis: 25%; */
    /* border-right: solid #000 1px; */
}
  
.user-menu > * {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.user-menu__item {
    border-bottom: solid #000 1px;
    /* padding: 1rem 2rem; */
    /* text-transform: uppercase; */
}

.marginTop05 {
    margin-top: 0.5rem;
}
  
.user-menu__item:hover {
    cursor: pointer;
}
  
.user-menu__item p {
    margin: 0;
}
  
.main-box {
    flex: 1;
    padding: 3rem 1rem;
}
  
.main-box > * {
    width: 100%;
}
  
.main-box th {
    /* text-transform: uppercase; */
    font-size: 1.4rem;
    padding: .5rem;
}
  
.main-box tr {
    padding: 1.5rem;
}
  
.main-box table {
    margin-left: 1rem;
    width: 100%;
}
  
.main-box__form > * {
    margin: 2.3rem 1rem;
}
  
.main-box__form button {
    display: block;
    margin: 0 auto;
}

                                            /* Settaggio tabelle */
#tableAll {
    font-family: arial, sans-serif;
    width: 100%;
}

#tableAll tr:nth-child(even) {
    background-color: var(--color-row-tableUser);
}