@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

*::after,

*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
    --colour-blue: #21a7c2;
    --color-orange: #db6400;
    --colour-white: #f4f9f9;
    
    --color-grey: #6c757d;

    --color-row-topOne: #74c3d3;
    --color-row-topTwo: #dfa473;
    --color-row-tableUser: #93d4ff;
}

html {
    font-size: 125%;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: var(--colour-white);
}

body {
    box-sizing: border-box;
	text-align: center;
	padding: 0;
	margin: 0;
}

.flex-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    list-style: none;
}

.colorContainerHeader {
    background-color: var(--colour-white);
}

.statusBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    background-color: var(--colour-white);
    margin-top: 0.3%;
}

.logo {
    justify-content: flex-start;
}

.dimLeft {
    margin-left: 1rem;
}

.dimLeft2 {
    margin-left: 0.2rem;
}

#logo {
    color: black;
    text-align: left;
    padding: 0.5rem;
}

.ricerca {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--colour-white);
	text-align: center;
    padding: 1.5rem;
}

.leftFlex {
    justify-content: flex-start;
}

.padding05 {
    padding: 0.5rem;
}

/* classi per bottoni */

.noBlueLine {
    outline: none;
}

.btnGenerico {
    height: 50px;

    border-radius: 7px;
    border-color: var(--color-grey);
    border: 2px solid;
    background-color: white;
    
    font-size: 20px;
    color: var(--color-grey);
    font-weight: bold;
    font-family: 'Arial';
}

.btnGenerico:hover, .btnHeader {
    /* height: 50px; */
    width: auto;

    border-radius: 7px;
    background-color: var(--color-grey);
    border-color: var(--color-grey);
    
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: 'Arial';
}

.width150, .width150:hover {
    width: 150px;
}

.width200, .width200:hover {
    width: 200px;
}

.width220, .width220:hover {
    width: 220px;
}

/* Style per menù a tendina */
.dropbtn {
    background-color: white;
    color: black;
    padding: 18px;
    font-size: 18px;
    border: none;
    size: 1rem;
    align-content: flex-start;
}

.dropdown {
    position: absolute;
    display: inline-block;
    margin-bottom: 0.5rem;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}