@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

*,

*::after,

*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
    --colour-blue: #16697a;
    --color-orange: #db6400;
    --colour-white: #f4f9f9;
}

html {
    /* font-size: 62.5%; */
    font-size: 125%;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: var(--colour-white);
}

body {
    box-sizing: border-box;
	text-align: center;
	padding: 0;
	margin: 0;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    /*margin-top: 0.5%;*/
}

.statusBar {
    background-color: var(--colour-white);
    justify-content: flex-end;
    align-self: flex-start;
    margin-top: 0.5%
}

.logo {
    background-color: var(--colour-white);
    justify-content: flex-start;
}

#fname {
    margin-right: 1px;
}

.dimLeft {
    margin-left: 1rem;
} 

#logo {
    color: black;
    text-align: left;
    padding:1rem;
}

#titolo {
    font-family: 'Arvo', serif;
    text-align: left;
}

#menu {
    text-align: right;
    padding:1rem;
}

.ricerca {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--colour-blue);
	text-align: center;
    padding: 4rem;
}

.topOne {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: var(--colour-white);
    padding: 3rem;
    margin-top: 1px;
}

.topTwo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: var(--color-orange);
    padding: 3rem;
    margin-top: 1px;
}

/* Style per menù a tendina */
.mappabtn, .dropbtn {
    background-color: white;
    color: black;
    padding: 18px;
    font-size: 18px;
    border: none;
    size: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}