html {
    margin: 0.5rem;
    scroll-behavior: smooth;
}
  
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-none {
    display: none;
}
  
.main-container {
    /* margin-bottom: 4rem; */
}
  
.user-menu {
    flex-basis: 25%;
}
  
.user-menu > * {
    display: flex;
    align-items: center;
    justify-content: baseline;
}
  
.user-menu__item {
    padding: 5% 10%;
    text-transform: uppercase;
}

.marginTop01 {
    margin-top: 1%;
}

.marginTop05 {
    margin-top: 5%;
}
  
.user-menu__item:hover {
    cursor: pointer;
}
  
.user-menu__item p {
    margin: 0;
}
  
.main-box {
    flex: 1;
    padding: 3rem 1rem;
    /* border-left: 2px solid var(--color-grey); */
    margin-left: 1%;
}
  
.main-box > * {
    width: 75%;
}
  
.main-box th {
    /* text-transform: uppercase; */
    font-size: 1.4rem;
    padding: .5rem;
}
  
.main-box tr {
    padding: 1.5rem;
}
  
.main-box table {
    margin-left: 1rem;
    width: 100%;
}
  
.main-box__form > * {
    margin: 2.3rem 1rem;
}

.main-box__form button {
    display: block;
    margin: 0 auto;
}

.viewUser {
    /* text-align: right; */
    /* border-bottom: 2px solid var(--color-grey); */
    text-align: center;
}

.noUnderline {
    text-decoration: none;
}

.boxMenu {
    height: auto;
    width: auto;

    /* border-bottom: 1px solid var(--color-grey); */
    background-color: var(--color-menu-user);
    
    font-size: 20px;
    color: var(--color-grey);
    font-weight: bold;
    font-family: 'Arial';
}

.boxMenu:hover {
    height: auto;
    width: auto;
    
    /* border-bottom: 1px solid var(--color-grey); */
    background-color: var(--color-menu-user);
    /* border-color: var(--color-grey); */
    
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: 'Arial';
}

/* Settaggio tabelle */
#tableAll {
    font-family: arial, sans-serif;
    width: 100%;
}

#tableAll tr:nth-child(even) {
    background-color: var(--color-row-tableUser);
}

/* Settaggio card di visualizzazione (Title - Menu - Table) */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.4s;
    /* width: 100%; */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.set-card {
    border-radius: 0.5rem;
}

.card-user {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.4s;
}

.card-user:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.set-card-user {
    border-radius: 0.5rem;
}

.set-card {
    border-radius: 0.5rem;
}

.color-user {
    background-color: var(--color-user);
}

.color-menu {
    background-color: var(--color-menu-user);
}

.color-table-menu {
    background-color: var(--color-table-user);
}